body{
    background-color: aquamarine;
    background-image:url('../images/cat.gif');
    background-size: 150px;
	background-repeat:no-repeat;
	background-position:top right;
	background-attachment:fixed;
    margin: 1cm 4cm 1cm 1cm;
}

hr{
	border-width:2px;
	border-color:green;
	border-style: dashed;
}

p{
	color:#000000;
	text-align:justify;
	font-family:calibri, verdana, comic sans, tahoma;
	font-size:12pt;
}

fieldset, legend{
	border:rgb(51, 151, 42) groove 5px;	
}

legend{
	padding:5px; /* all padding */
	background-color:white;
	font-weight:bold;
	font-size:12pt;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing:5px;
}
